
th,td{
    font-size: 25px;
    font-family:"Lucida Console";
    text-align: center;
    border-bottom: 2px solid #333;
    border-right:2px solid #333 ;
    border-left:2px solid #333 ;
    border-top: 2px solid #333;
}


table{
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
    border-left: #333;
    margin-top: 40px;
}


.buttons{
    position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #721c1c;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  transition: background-color 0.3s ease;
  display: inline;
  margin-inline: 10px;
}

.conteiner{
    display: flex;
    margin-bottom: 50px;
}


.scripts{
    width:100%;
    
}

#chart_div{
    width: 1960px;
    height: 800px; 
    float:right;
    margin-top: 0px;
    padding-top: 0px;
}


    label{
        height:20px;
        width:150px;
        justify-content: start;
        display: grid;
        font-size: large;
        margin-bottom: 20px;
        margin-left: 3px;
    }


    .formu{
        width: 1300px;
        height: 330px; 
        display: flex;
        margin-inline: 360px;
        font-size: medium;
    }

    #date, #week, #month{
        width: 180px;
        height: 30px;
        margin-right: 5px;
        margin-bottom: 19px;
        
    }

    #data{
        display: grid;
        height: 120px;
    }

    #searchInput {
        width: 180px;
        height: 30px;
        margin-right: 5px;
        margin-bottom: 19px;
        margin-left: 3px;
    }

    
    

    #nav_bar{
        align-items: center;
        margin-top: 20px;
    }

    #nav_bar .formu{
        display: flex;
        align-items: center;
    }
    

    

    #nav_bar button{
        background-color: #721c1c;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin-bottom : 20px ;
        
        
    }
    