
th,td{
    font-size: 25px;
    font-family:"Lucida Console";
    text-align: center;
    border-bottom: 2px solid #333;
    border-right:2px solid #333 ;
    border-left:2px solid #333 ;
    border-top: 2px solid #333;
}


table{
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
    border-left: #333;
    margin-top: 40px;
}

.buttons{
    
 
 
}


.conteiner{
    display: flex;
    margin-bottom: 50px;
}


.scripts{
    width:100%;
    
}

#chart_div{
    width: 1960px;
    height: 800px; 
    float:left;
    margin-top: 0px;
    padding-top: 0px;
}


    label{
        height:20px;
        width:150px;
        justify-content: start;
        display: grid;
    }


    .formu{
        width: 300px;
        height: 330px; 
        display: grid;
        margin-inline: 160px;
        
    }

    #date {
        width: 180px;
        
    }

    #data{
        display: grid;
        height: 120px;
    }

    
    

    #nav_bar{display: flex;
        height:350px;
        margin:20px 0px 0px 890px;
        width: 150px;
    }

    

    #nav_bar button{
        margin-right: 20px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #721c1c;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        writing-mode: horizontal-tb !important;
        
        
    }
    